mixin pagination(pagination) 
  if pagination.totalPage > 1
    .pagination-wrapper.d-flex.justify-content-center.mt-4
      nav.custom-pagination
        ul.pagination.pagination-modern.mb-0
          if (pagination.currentPage > 1)
            li.page-item.nav-btn
              button.page-link.page-prev(button-pagi=pagination.currentPage - 1)
                i.bi.bi-chevron-left.me-1
                span Trước
          else
            li.page-item.disabled.nav-btn
              span.page-link.page-disabled
                i.bi.bi-chevron-left.me-1
                span Trước
          
          -for(var i=1; i<= pagination.totalPage; i++)
            li.page-item.page-number(class=`${pagination.currentPage == i ? "active" : ""}`)
              button.page-link.page-num(button-pagi=i) #{i}
          
          if (pagination.currentPage < pagination.totalPage)
            li.page-item.nav-btn
              button.page-link.page-next(button-pagi=pagination.currentPage + 1)
                span Sau
                i.bi.bi-chevron-right.ms-1
          else 
            li.page-item.disabled.nav-btn
              span.page-link.page-disabled
                span Sau
                i.bi.bi-chevron-right.ms-1